.App {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

.tick line {
  stroke: #000;
}

.heatmap-rect {
  stroke: none;
  shape-rendering: crispEdges;
}

.heatmap-rect:hover {
  fill-opacity: 0.8;
}
